
  
  

.services-title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color:rgb(245, 237, 229);
    color:rgb(60, 43, 38);
    height:150px;
    margin-top:100px;
}
.services-title h2{
    font-size:38px;
}
.paw{
    width:60px;
   
}
.service-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.services-intro {
    font-size:18px;
    margin-top:60px;
    width: 600px;
    background-color:rgb(245, 237, 229); 
    color:#5C2B29;
    line-height: 0.8cm;
    margin-left:5%;
    padding:15px;
    border-radius: 10px;
}
.services-image{
    margin-top:60px;
}
.services-image img{
    width:200px;
    height:150px;
    border-radius:20px
}
.service-photo , .service-photo1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin:5px;
}
.service-photo{
    gap:10px;
}
.services-list {
    margin-top:60px;
}
.services-list h2{
    font-size:38px;
    color:rgb(60, 43, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.list .list-img img{
    width:400px;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
/* hovering*/



.list .list-left-desc,.list-right-desc{
    width:500px;
    margin:80px;
    background-color:rgb(245, 237, 229) ;
    font-size:18px;
    line-height:0.8cm;
    color:#5C2B29;
    border-radius: 15px;
    padding:20px;
}
.feedback-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    padding:20px;
    max-width: 700px;
    background-color:rgb(245, 237, 229);
    border-radius:10px;
}
.feedback-content{
    color:#5C2B29;
    font-size:18px;
    text-align: center;
    padding:20px;
}

.arrow {
    width: 30px;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #5C2B29;
    color:white;
    padding:10px;
    border-radius: 50%;
  }
  .feedback-title{
    display: flex;
    align-items: center;
    margin:100px 0;
    font-size:35px;
    color:#5C2B29;
    justify-content: center;
  }

.next-btn{
    left: 10px;
  }
  
  .back-btn {
    right: 10px;
  }
.cust-feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
}
.cust-image{
    width:90px;
    border-radius: 50%;
    border:3px solid #5C2B29;
}

/*................media queries...................*/

@media(max-width:850px){
    .list .list-img img{
        width:300px;
        border-radius: 10px;
        transition: transform 0.5s ease;
    }
    .list .list-left{
        margin-left:30px;
    }
    .list .list-right{
        margin-right:30px;
    }
}
@media(max-width:650px){
    .services-title h2{
        font-size:35px;
    }
    .services-title p{
        font-size:1rem;
        margin-left:10px;
    }
    .service-box{
        display: flex;
        flex-direction: column;
       }
       .service-box .services-intro{
        margin-right:27px;
        margin-left:20px;
        width:500px;
       }
       .service-box .services-image img{
        width:200px;
        height: auto;
        border-radius:20px;
        padding:5px;
       }
      
       .list{
        display: flex;
        flex-direction: column;
        padding:10px;
        
       }
       .list .list-left-desc , .list-right-desc{
        width:500px;
       
       }
       .list .right{
        display: flex;
        justify-content: flex-end;
       }
       .list-left{
        margin-top:40px;
        margin-right:50px;
       }
       .grooming{
        margin-top:-50px;
        margin-bottom: 40px;
       
       }
       .boarding{
        display: flex;
        flex-direction: column-reverse;
       }
       .training{
        margin-bottom: 40px;
       
       }
       .veterinary{
        margin-top:-50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column-reverse;
       }
       .adoption{
        margin-bottom: -80px;
       }
       .feedback-slider{
        width:500px;
       }
       .feedback-content{
        font-size:20px;
       }
}

@media(max-width:480px){
    .services-title h2{
        font-size:1.8rem;
    }
    .services-title h2 img{
        width:50px;
    }
    .services-title p{
        font-size:1rem;
    }
    .service-box .services-intro{
        font-size: 1rem;
        width:450px;
    }
    .list .list-left-desc , .list-right-desc{
        width:450px;
        font-size:1rem;
    }
    .list{
        margin-bottom: -20px;
    }
    .feedback-title{
        font-size:1.8rem;
        margin-top:-30px;
    }
    .feedback-content{
        font-size: 1rem;
       
    }
    .feedback-slider{
        width:450px;
        margin-top:-40px;
    }
}